<html>
<body class="contactpagebackground">
   

    <h1 style="color:cornflowerblue">KAPCSOLAT</h1>
  

    <h2 style="color:aliceblue">+36-20-911-0101</h2>
    <h2 style="color:aliceblue">info@mezogazdasagidron.hu</h2>
    <h2 style="color:aliceblue"><a href="https://www.facebook.com/flyingeyes.agron/" target="_blank" rel="noopener">FACEBOOK</a></h2>
   
</body>
</html>