

<body>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <header class="masthead" style="background:url('../../Images/PreciziosvadkarfelmeresBG.jpg')">
        <div class="container">
            <div class="intro-text align-content-lg-start">
                <div class="intro-heading text-uppercase">PRECÍZIÓS</div>
                <div class="intro-heading text-uppercase">FELMÉRÉSEK    </div>
                <div class="text-uppercase js-scroll-trigger"> Korábban soha nem látott pontosság és precizitás, akár 2 cm/pixel felbontású óriás ortomozaikok készítése a területről</div> 
            </div>
            <img src="~/Images/backre5-1024x687.png" />
        </div>
    </header>
    <div>

    </div>
</body>