<!-- Header -->
<header class="masthead" style="background-image:url('../Images/PreciziosvadkarfelmeresBG.jpg')">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Preciziós felmérések</div>
            <img src="~/Images/backre5-1024x687.png" style="width:633px;height:236px" />
            <div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Mezőgazdasági Drónok</a></div>
        </div>
    </div>
</header>